USE [master]
GO

CREATE DATABASE [Countries]
 CONTAINMENT = NONE
 ON  PRIMARY ( NAME = N'Countries_Data', FILENAME = N'C:\MSSQL\Data\Countries.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON ( NAME = N'Countries_Log', FILENAME = N'C:\MSSQL\Data\Countries.ldf' , SIZE = 10240KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Countries].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Countries]
GO

USE [Countries]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Table [dbo].[CallingCode]
CREATE TABLE [dbo].[CallingCode](
	[Id] [int] IDENTITY(20001,1) NOT NULL,
	[CallingCodeNumber] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CallingCode] ADD CONSTRAINT [PK_Countries_CallingCode] PRIMARY KEY CLUSTERED (
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

--  Table [dbo].[Continent]
CREATE TABLE [dbo].[Continent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Abbreviation] [char](2) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Continent] ADD CONSTRAINT [PK_Countries_Continent] PRIMARY KEY CLUSTERED (
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

-- Table [dbo].[Country]
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(30001,1) NOT NULL,
	[ISO2] [char](2) NOT NULL,
	[ISO3] [char](3) NOT NULL,
	[ISONumeric] [char](3) NOT NULL,
	[ISOName] [varchar](255) NOT NULL,
	[Capital] [nvarchar](255) NOT NULL,
	[OfficialName] [varchar](255) NOT NULL,
	[OfficialNameLocal] [nvarchar](255) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ContinentId] [int] NOT NULL,
	[CallingCodeId] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Country] ADD CONSTRAINT [PK_Countries_Country] PRIMARY KEY CLUSTERED (
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [IX_Countries_Country_UniqueISO2] UNIQUE NONCLUSTERED (
	[ISO2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [IX_Countries_Country_UniqueISO3] UNIQUE NONCLUSTERED (
	[ISO3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [IX_Countries_Country_UniqueISONumeric] UNIQUE NONCLUSTERED (
	[ISONumeric] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Country] ADD  CONSTRAINT [IX_Countries_Country_UniqueName] UNIQUE NONCLUSTERED (
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Table [dbo].[CountryCurrency]
CREATE TABLE [dbo].[CountryCurrency](
	[CountryId] [int] NOT NULL,
	[CurrencyId] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CountryCurrency] ADD  CONSTRAINT [IX_Countries_CountryCurrency_UniqueCountry_Currency] UNIQUE NONCLUSTERED (
	[CountryId] ASC,
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Table [dbo].[CountryTimeZone]
CREATE TABLE [dbo].[CountryTimeZone](
	[CountryId] [int] NOT NULL,
	[TimeZoneId] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CountryTimeZone] ADD  CONSTRAINT [IX_Countries_UniqueCountry_TimeZone] UNIQUE NONCLUSTERED (
	[CountryId] ASC,
	[TimeZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

--  Table [dbo].[Currency]
CREATE TABLE [dbo].[Currency](
	[Id] [int] IDENTITY(40001,1) NOT NULL,
	[Code] [char](3) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[DecimalDigits] [int] NOT NULL,
	[RowVersion] [timestamp] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Currency] ADD CONSTRAINT [PK_Countries_Currency] PRIMARY KEY CLUSTERED (
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Currency] ADD  CONSTRAINT [IX_Countries_Currency_UniqueCurrency_Code] UNIQUE NONCLUSTERED (
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Table [dbo].[TimeZone]
CREATE TABLE [dbo].[TimeZone](
	[Id] [int] IDENTITY(50001,1) NOT NULL,
	[TimeZoneAcronym] [varchar](10) NOT NULL,
	[TimeZoneName] [varchar](255) NOT NULL,
	[UTCOffset] [decimal](4, 2) NOT NULL,
	[DST] [bit] NULL,
	[RowVersion] [timestamp] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TimeZone] ADD CONSTRAINT [PK_Countries_TimeZone] PRIMARY KEY CLUSTERED (
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TimeZone] ADD  CONSTRAINT [IX_Countries_TimeZone_TimeZoneName_Unique] UNIQUE NONCLUSTERED (
	[TimeZoneName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

-- Views
-- View [dbo].[CountryCurrencyInfo]
CREATE VIEW [dbo].[CountryCurrencyInfo]
AS
SELECT c.Id AS CountryId, c.ISO2 AS CountryISO2, c.ISO3 AS CountryISO3, c.ISONumeric AS CountryISONumeric, c.Name AS CountryName,
   cu.Id AS CurrencyId, cu.Name AS CurrencyName, cu.Code AS CurrencyCode
FROM dbo.CountryCurrency AS cc
RIGHT OUTER JOIN dbo.Country AS c
ON cc.CountryId = c.Id
LEFT OUTER JOIN dbo.Currency AS cu
ON cc.CurrencyId = cu.Id
GO

--  View [dbo].[CountryInfo]
CREATE VIEW [dbo].[CountryInfo]
AS
SELECT country.Id, country.ISO2, country.ISO3, country.ISONumeric, country.Name, country.ISOName, country.OfficialName, country.Capital,
   continent.Name AS ContinentName, callingCode.CallingCodeNumber
FROM dbo.Country AS country
LEFT OUTER JOIN dbo.Continent AS continent
ON country.ContinentId = continent.Id
LEFT OUTER JOIN dbo.CallingCode AS callingCode
ON callingCode.Id = country.CallingCodeId
GO

-- View [dbo].[CountryTimeZoneInfo]
CREATE VIEW [dbo].[CountryTimeZoneInfo]
AS
SELECT tz.TimeZoneAcronym, tz.TimeZoneName, tz.UtcOffset, tz.DST, c.ISO2 AS CountryISO2, c.Name AS CountryName
FROM dbo.CountryTimeZone as ctz
INNER JOIN dbo.Country AS c
ON ctz.CountryId = c.Id
INNER JOIN dbo.TimeZone AS tz
ON ctz.TimeZoneId = tz.Id
GO

SET IDENTITY_INSERT [dbo].[CallingCode] ON
INSERT [dbo].[CallingCode] ([Id], [CallingCodeNumber]) VALUES (20001, 1)
INSERT [dbo].[CallingCode] ([Id], [CallingCodeNumber]) VALUES (20002, 20)
INSERT [dbo].[CallingCode] ([Id], [CallingCodeNumber]) VALUES (20003, 211)
GO
SET IDENTITY_INSERT [dbo].[CallingCode] OFF

SET IDENTITY_INSERT [dbo].[Continent] ON
INSERT [dbo].[Continent] ([Id], [Name], [Abbreviation]) VALUES (1, N'Africa', N'AF')
INSERT [dbo].[Continent] ([Id], [Name], [Abbreviation]) VALUES (2, N'Asia', N'AS')
INSERT [dbo].[Continent] ([Id], [Name], [Abbreviation]) VALUES (3, N'Europe', N'EU')
GO
SET IDENTITY_INSERT [dbo].[Continent] OFF

SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([Id], [ISO2], [ISO3], [ISONumeric], [ISOName], [Capital], [OfficialName], [OfficialNameLocal], [Name], [ContinentId], [CallingCodeId]) VALUES (30001, N'AD', N'AND', N'020', N'Andorra', N'Andorra la Vella', N'Principality of Andorra', N'Principat d''Andorra', N'Andorra', 3, 20084)
INSERT [dbo].[Country] ([Id], [ISO2], [ISO3], [ISONumeric], [ISOName], [Capital], [OfficialName], [OfficialNameLocal], [Name], [ContinentId], [CallingCodeId]) VALUES (30002, N'AE', N'ARE', N'784', N'United Arab Emirates', N'Abu Dhabi', N'United Arab Emirates', N'الإمارات العربية المتحدة', N'United Arab Emirates', 2, 20201)
INSERT [dbo].[Country] ([Id], [ISO2], [ISO3], [ISONumeric], [ISOName], [Capital], [OfficialName], [OfficialNameLocal], [Name], [ContinentId], [CallingCodeId]) VALUES (30003, N'AF', N'AFG', N'004', N'Afghanistan', N'Kabul', N'Islamic Republic of Afghanistan', N'د افغانستان اسلامي جمهوریت', N'Afghanistan', 2, 20188)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF

SET IDENTITY_INSERT [dbo].[Currency] ON
INSERT [dbo].[Currency] ([Id], [Code], [Name], [DecimalDigits]) VALUES (40001, N'AED', N'United Arab Emirates dirham', 2)
INSERT [dbo].[Currency] ([Id], [Code], [Name], [DecimalDigits]) VALUES (40002, N'AFN', N'Afghan afghani', 2)
INSERT [dbo].[Currency] ([Id], [Code], [Name], [DecimalDigits]) VALUES (40003, N'ALL', N'Albanian lek', 2)
GO
SET IDENTITY_INSERT [dbo].[Currency] OFF

SET IDENTITY_INSERT [dbo].[TimeZone] ON
INSERT [dbo].[TimeZone] ([Id], [TimeZoneAcronym], [TimeZoneName], [UTCOffset], [DST]) VALUES (50001, N'ACDT', N'Australian Central Daylight Time', CAST(10.50 AS Decimal(4, 2)), 1)
INSERT [dbo].[TimeZone] ([Id], [TimeZoneAcronym], [TimeZoneName], [UTCOffset], [DST]) VALUES (50002, N'ACST', N'Australian Central Standard Time', CAST(9.50 AS Decimal(4, 2)), 0)
INSERT [dbo].[TimeZone] ([Id], [TimeZoneAcronym], [TimeZoneName], [UTCOffset], [DST]) VALUES (50003, N'ACT', N'ASEAN Common Time', CAST(8.00 AS Decimal(4, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[TimeZone] OFF

-- Join Tables
-- Table [dbo].[CountryCurrency]
INSERT [dbo].[CountryCurrency] ([CountryId], [CurrencyId]) VALUES (30001, 40054)
INSERT [dbo].[CountryCurrency] ([CountryId], [CurrencyId]) VALUES (30002, 40001)
INSERT [dbo].[CountryCurrency] ([CountryId], [CurrencyId]) VALUES (30003, 40002)
GO

--Table [dbo].[CountryTimeZone]
INSERT [dbo].[CountryTimeZone] ([CountryId], [TimeZoneId]) VALUES (30247, 50154)
INSERT [dbo].[CountryTimeZone] ([CountryId], [TimeZoneId]) VALUES (30013, 50001)
INSERT [dbo].[CountryTimeZone] ([CountryId], [TimeZoneId]) VALUES (30013, 50002)
GO

-- Foreign Keys
ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Country_CallingCode] FOREIGN KEY([CallingCodeId])
REFERENCES [dbo].[CallingCode] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Countries_Country_CallingCode]
GO

ALTER TABLE [dbo].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Country_Continent] FOREIGN KEY([ContinentId])
REFERENCES [dbo].[Continent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Country] CHECK CONSTRAINT [FK_Countries_Country_Continent]
GO

ALTER TABLE [dbo].[CountryCurrency]  WITH CHECK ADD  CONSTRAINT [FK_Countries_CountryCurrency_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[CountryCurrency] CHECK CONSTRAINT [FK_Countries_CountryCurrency_Country]
GO

ALTER TABLE [dbo].[CountryCurrency]  WITH CHECK ADD  CONSTRAINT [FK_Countries_CountryCurrency_Currency] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currency] ([Id])
GO
ALTER TABLE [dbo].[CountryCurrency] CHECK CONSTRAINT [FK_Countries_CountryCurrency_Currency]
GO

ALTER TABLE [dbo].[CountryTimeZone]  WITH CHECK ADD  CONSTRAINT [FK_Countries_CountryTimeZone_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[CountryTimeZone] CHECK CONSTRAINT [FK_Countries_CountryTimeZone_Country]
GO

ALTER TABLE [dbo].[CountryTimeZone]  WITH CHECK ADD  CONSTRAINT [FK_Countries_CountryTimeZone_TimeZone] FOREIGN KEY([TimeZoneId])
REFERENCES [dbo].[TimeZone] ([Id])
GO
ALTER TABLE [dbo].[CountryTimeZone] CHECK CONSTRAINT [FK_Countries_CountryTimeZone_TimeZone]
GO

EXEC [Countries].sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Countries Database'
GO
USE [master]
GO
