<?xml version="1.0"?>
<log4net>
  <appender name="UdpAppender"
            type="log4net.Appender.UdpAppender">
    <param name="RemoteAddress"
           value="127.0.0.1" />
    <param name="RemotePort"
           value="8080" />
    <layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net">
      <locationInfo value="true" />
    </layout>
  </appender>
  <appender name="SmtpAppender"
            type="log4net.Appender.SmtpAppender, log4net">
    <to type="log4net.Util.PatternString" value="john.smith@contoso.com" />
    <from type="log4net.Util.PatternString" value="%property{log4net:HostName}@contoso.com" />
    <subject type="log4net.Util.PatternString" value="SysMonVirusTotalUpdater Log4Net Message on: %property{log4net:HostName}" />
    <smtpHost value="smtp.marriott.com" />
    <bufferSize value="1" />
    <lossy value="false" />
    <threshold value="ERROR" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="On %property{log4net:HostName}: %date [%thread] %-5level - %logger%newline%message%newline" />
    </layout>
  </appender>
  <appender name="ErrorLogFile"
            type="log4net.appender.RollingFileAppender">
    <file value="logs/log_errors.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="3" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
    <threshold value="ERROR" />
  </appender>
  <appender name="WarningLogFile"
          type="log4net.appender.RollingFileAppender">
    <file value="logs/log_warnings.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="3" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
    <threshold value="WARN" />
  </appender>
  <appender name="InfoLogFile"
            type="log4net.appender.RollingFileAppender">
    <file value="logs/log_info.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="100" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
    <threshold value="INFO" />
  </appender>
  <appender name="DebugLogFile"
            type="log4net.Appender.RollingFileAppender">
    <file value="logs/log_debug.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level - %message%newline" />
    </layout>
    <!--Change threshold to DEBUG to enable debug logging-->
    <!--threshold value="OFF" / -->
    <threshold value="DEBUG" />
  </appender>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="UdpAppender" />
    <appender-ref ref="SmtpAppender" />
    <appender-ref ref="WarningLogFile" />
    <appender-ref ref="ErrorLogFile" />
    <appender-ref ref="InfoLogFile" />
    <appender-ref ref="DebugLogFile" />
  </root>
</log4net>
